.сatalog{
  //display: flex;
  //flex-wrap: wrap;
  //justify-content: space-evenly;
  padding: 53px 37px 0 35px;
  box-sizing: border-box;
  //width: 100%;
  //margin-top: 60px;
  //align-content: flex-start;
  &__zeropage{
    width: 100%;
    max-width:1595px ;
  }
}