.catalog{
  padding: 53px 37px 0 35px;
  box-sizing: border-box;

  /*
   @ревью - ок
   тут вижу проблему в сетке, на некоторых разрешениях элементы странно раздвигаются
   + карточки совсем не резинятся

   Давай попробуем для начала сделать flexbox сетку, где элемент имеет процентную циширну и отступ между элементами равен 30px
  */
}
.catalog__product{
  padding: 30px;
  box-sizing: border-box;
}
.catalog__zeropage{
  width: 100%;
  grid-column: 1/5;
}
