.zero-page{
  text-align: center;
  &__svg{
    margin-top: 25%;
  }
  &__txt{
    display: block;
    font-family: Roboto;
    font-weight: bold;
    font-size: 24px;
    margin-top: 26px;
  }
}

@media(max-width:500px) {
  .zero-page{
    &__svg{
      width: 50px;
    }
    &__txt{
      font-size: 15px;
    }
  }
}