@import "./variables.scss";
// @review
// При подключении шрифтов используется один font-family для одного шрифта
// А жирность задается уже с помощью font-weight
// Можно использовать например такой миксин, для упрощения подключения шрифтов.
// Тк часто нужно подключать не один формат, а несколько для разных браузеров, он значительно упрощает жизнь
// https://gist.github.com/jonathantneal/d0460e5c2d5d7f9bc5e6
@font-face {
  font-family: Roboto_bold;
  src: url("~@/assets/fonts/roboto-bold.ttf");
}
@font-face {
  font-family: Roboto_regular;
  src: url("~@/assets/fonts/roboto-regular.ttf");
}
@font-face {
  font-family: Roboto_500;
  src: url("~@/assets/fonts/roboto/roboto-medium-500.ttf");
}

// @review
// Для сброса стандартных стилей на проектах обычно подключается normalize.css или reset.css
body{
  margin: 0;
  padding: 0;
  color: $textColor;
  background-color: #F8F8F8;
}

.activeCategory{
  color: $redColor !important;
}

.main{
  display: flex;
  min-height: 100vh;
  &__menu{
    width: 100%;
    max-width: 325px;
    position: relative;
    z-index: 1;
    margin-top: 60px;
  }
}

.router-view{
  width: 67%;
}

.active{
  border-bottom: 4px solid $redColor;
  box-sizing: border-box;
}


//Звёздный рейтинг
// @review
// Стили компонентов нужно выносить в его файл стилей, а не оставлять в общем файле
.star-rating{
  font-size: 0;
  &__wrap{
    display: inline-block;
    font-size: 1rem;
    &:after{
      content: "";
      display: table;
      clear: both;
    }
  }
  &__ico{
    float: right;
    padding-left: 2px;
    cursor: pointer;
    color: #E4E4E4;
    &:last-child{
      padding-left: 0;
    }
  }
  &__input{
    display: none;
  }
}
.star-rating__ico:hover:before,
.star-rating__ico:hover ~ .star-rating__ico:before,
.star-rating__input:checked ~ .star-rating__ico:before
{
  content: "\f006";
  color: #F1C450;
}

//Стили для мобильных устройств
@media(max-width:500px) {
  .main{
    height: 100%;
  }
  .modal_products_links{
    font-size: 13px;
  }
}
//Рефакторинг стилей бутстрапа
@media (min-width: 576px)  {
  .modal-dialog {
    margin: 0;
  }
  .header_basket{
    max-width: 100%;
  }
}
