@import "./variables.scss";
@font-face {
  font-family: Roboto_bold;
  src: url("./fonts/roboto-bold.ttf");
}
@font-face {
  font-family: Roboto_regular;
  src: url("./fonts/roboto-regular.ttf");
}
@font-face {
  font-family: Roboto_500;
  src: url("./fonts/roboto/roboto-medium-500.ttf");
}


body{
  margin: 0;
  padding: 0;
  color: $textColor;
  background-color: #F8F8F8;
  //max-width: 1920px;
}

.header{
  height: 60px;
  display: flex;
  box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1) !important;
  position: fixed;
  background-color: white;
  width: 100%;
  z-index: 2;
  &_block{
    display: block;
    font-weight: 400;
    font-size: 18px;
    line-height: 60px;
    color: $textColor;
    font-family: "Roboto_bold";
    &_links{
      display: flex;
      &_item{
        margin: 0 22px 0 22px;
        font-family: "Roboto_regular";
        &:hover{
          border-bottom: 4px solid $redColor;
          box-sizing: border-box;
          cursor: pointer;
        }
        &:active{
          border-bottom: 4px solid white;
          box-sizing: border-box;
          cursor: pointer;
        }
        &:focus{
          border-bottom: 3px solid black;
          box-sizing: border-box;
          cursor: pointer;
        }
      }
    }
    &_basket{
      margin: 0 29px 0 0;
      cursor: pointer;
      border-bottom: 4px solid transparent;
      box-sizing: border-box;
      &:hover{
        border-bottom: 4px solid $redColor;
        box-sizing: border-box;
        cursor: pointer;
      }
      &_svg{
        height: 100%;
        position: relative;
      }
      &_ellipse{
        position: absolute;
        top: 13px;
        right: 21px;
      }
      &_counter{
        color: white;
        font-family: "Roboto_regular";
        font-weight: 400;
        font-size: 11px;
        line-height: 13px;
        position: absolute;
        top: 16px;
        right: 25px;
      }
    }
    &_svg{
      display: block;
      height: 100%;
      margin-left:7px ;
    }

    &:first-child {
      background-color: $redColor;
      color: white;
      font-size: 20px;
      line-height: 60px;
      text-transform: uppercase;
      font-family: "Roboto_regular";
      font-weight: 700;
      padding: 0 33px 0 29px;
      box-sizing: border-box;
      display: flex;
    }
    &:last-child{
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
  }
  &_basket{
    display: flex;
    justify-content: flex-end;
    &_content{
      width: 633px;
      min-height: 100vh;
      padding: 32px 30px;
      box-sizing: border-box;
      font-family:"Roboto_bold";
      font-size: 18px;
      line-height: 21px;
      color: #424242;
      &_top{
        display: flex;
        justify-content: space-between;
        margin-bottom: 25px;
        font-weight: bold;
        &_title{

        }
        &_btn{
          border: 0;
          background-color: transparent;
          cursor: pointer;
        }
      }
      &_text{
        display: block;
        margin-bottom: 28px;
      }
      &_form{
        font-size: 16px;
        line-height: 19px;
        font-family: Roboto_regular;
        //margin-right: 23px;
        &_phone{
          margin-right: 23px;
          width: 100%;
        }
        &_block{
          width: 100%;
          &_label{
            display: block;
            margin-bottom: 7px;
          }
          &_input{
            height: 41px;
            border: 1px solid #898989;
            box-sizing: border-box;
            border-radius: 5px;
            padding: 12px 14px 10px 14px;
            display: block;
            width: 100%;
            &::placeholder{
              color: black;
            }
            &:last-child{
              width: 100%;
              max-width: 572px;
            }
          }
          &_error{
            color: $redColor;
            margin: 5px 0 0 0 ;
            font-size: 14px;
            line-height: 16px;
          }
        }
        &_address{
          width: 100%;
        }
        &_btn{
          margin-top: 35px;
          background-color: $redColor;
          color: white;
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.08);
          border-radius: 5px;
          border: 0;
          width: 219px;
          padding: 7px;
          box-sizing: border-box;
          cursor: pointer;
          &:hover{
            background-color: white;
            color: $redColor;
          }
        }
      }
      &_resultOrder{
        width: 100%;
        font-size: 24px;
        line-height: 28px;
        color: $textColor;
        text-align: center;
        margin-top: 183px;
        &_img{

        }
        &_txt{
          display: block;
          width: 100%;
          margin-top: 21px;
        }
      }
    }
  }
}
.menu{
  width: 100%;
  max-width: 325px;
  //width: 30%;
  //max-width: 300px;
  box-shadow: 0 0px 10px 0px rgba(221, 221, 221, 1);
  //height: 100vh;
  position: relative;
  z-index: 1;
  margin-top: 60px;
  background-color: white;
  &_item{
    background-color: white;
    display: block;
    height: 54px;
    border-bottom: 1px solid #E4E4E4;
    box-sizing: border-box;
    font-family: Roboto_regular;
    line-height: 54px;
    padding-left: 30px;
    box-sizing: border-box;
    &:hover{
      color: $redColor;
      cursor: pointer;
    }
  }
}

.main{
  display: flex;
  height: 100vh;
}

.catalog_card{
  width: 353px;
  height: 418px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  font-family: Roboto_regular;
  margin: 0 0 38px 0;
  background-color: white;
  &:last-of-type{
    margin: 0 0 38px 0;
  }

  &_title{
    margin: 20px 0 10px 30px;
    font-weight: bold;
    font-size: 18px;
  }
  &_price{
    display: block;
    margin: 0 0 34px 30px;
    font-family: Roboto_bold;
    font-size: 18px;
  }
  &_button{
    margin: 0 0 26px 30px;
    background-color: $redColor;
    color: white;
    border: 0;
    height: 40px;
    line-height: 40px;
    padding: 0 18px;
    box-sizing: border-box;
    border-radius: 10px;
    font-size: 20px;
    &:hover{
      cursor: pointer;
      opacity: 0.7;
    }
  }
}

.catalog{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 53px 37px 0 35px;
  box-sizing: border-box;
  width: 100%;
  margin-top: 60px;
  align-content: flex-start;
}

.zero_page{
  width: 100%;
  max-width:1595px ;
  text-align: center;
  //margin-top: 60px;
  //width: 100vh;
  //height: 100vh;
  //text-align: center;
  &_svg{
    margin-top: 30%;

  }
  &_txt{
    display: block;
    font-family: Roboto_bold;
    font-size: 24px;
    margin-top: 26px;
  }
}

.active{
  border-bottom: 4px solid $redColor;
  box-sizing: border-box;
}
.activeCategory{
  color: $redColor;
}

@media (min-width: 576px)  {
  .modal-dialog {
    margin: 0;
  }
  .header_basket{
    max-width: 100%;
  }
}

.basketItems:last-child{
  color: red;
}
.basketItem{
  border-bottom: 1px solid #E5E5E5;
  padding-bottom: 22px;
  box-sizing: border-box;
  height: 119px;
  margin-bottom: 21px;
  &:last-child{
    color: red;
  }
  &_img{
    float: left;
    border: 1px solid #E5E5E5;
    border-radius: 10px;
    box-sizing: border-box;
    margin-right: 22px;
  }
  &_txt{
    font-size: 18px;
    font-family: Roboto_regular;
    font-weight: 500;
    line-height: 21px;
    color: $textColor;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    &_title{
      display: block;
      font-size: 18px;
      margin-bottom: 7px;
      line-height: 21px;
      font-family: Roboto_regular;
      display: block;
      font-weight: bold;
    }
    &_price{
      display: block;
      font-weight: bold;
      display: block;
      font-size: 18px;
      margin-bottom: 7px;
      line-height: 21px;
      font-family: Roboto_regular;
      display: block;
    }
    &_button{
      color: $redColor;
      font-weight: bold;
      font-size: 14px;
      line-height: 16px;
      border: 0;
      background-color: transparent;
      padding: 0;
      display: block;
      width: 128px;
    }
  }
}

.modal_product {
  min-height: 100vh;
  font-family: Roboto_regular;
  font-size: 16px;

  &_img {
    border: 1px solid #E5E5E5;
    border-radius: 10px;
    box-sizing: border-box;
    margin-bottom: 25px;
  }

  &_name {
    font-family: Roboto_500;
    font-size: 18px;
    line-height: 21px;
    color: #424242;
    margin-bottom: 7px;
  }

  &_price {
    font-family: Roboto_bold;
    display: block;
    margin-bottom: 40px;
  }

  &_links {
    margin-bottom: 16px;

    &_item {
      line-height: 25px;
      margin-right: 19px;
      border-bottom: 3px solid #E4E2E2;
      box-sizing: border-box;
      margin-bottom: 16px;
      cursor: pointer;
      text-decoration: none;
      color: inherit;

      &:hover {
        color: inherit;
        border-bottom: 3px solid $redColor;
      }

      &:active {
        color: inherit;
        border-bottom: 3px solid #E4E2E2;
      }
    }

    &_transition {

    }
  }

  &_parametrs {
    margin-bottom: 32px;
    &_line {
      width: 100%;
      height: 36px;
      line-height: 36px;
      background-color: #F3F3F3;
      padding: 0 7px;
      display: flex;
      justify-content: space-between;

      &:nth-child(2) {
        background-color: white;
      }
    }
  }
}
.review{
  display: flex;
  justify-content: space-between;
  &_photo{
    display: block;
    float:left;
    margin-right: 11px;
  }
  &_block{
    width: 100%;
    &_header{
      display: flex;
      justify-content: space-between;
      margin-bottom: 7px;
      &_name{
        font-size: 16px;
        line-height: 19px;
        font-weight: normal;
      }
      &_reiting{

      }
    }
  }
  &_txt{
    background-color: #F3F3F3;
    padding: 13px 19px 5px 14px;
    border-radius: 7px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.08);
  }
}

.form_review{
  width:100%;
  &_mark{
    display: block;
    margin-bottom:9px
  }
  &_img{
    margin-bottom: 22px;
  }
  &_label{
    display: block;
    margin-bottom: 9px;
  }
  &_input{
    width: 100%;
    height: 41px;
    border: 1px solid #898989;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 11px 16px 11px 16px;
    margin-bottom: 22px;
    &::placeholder{
      color: black;
    }
  }
  &_textarea{
    width: 100%;
    display: block;
    padding: 11px 8px 11px 12px;
    box-sizing: border-box;
    height: 174px;
    margin-bottom: 26px;
    border-radius: 10px;
  }
  &_btn{
    background-color: $redColor;
    color: white;
    border: 0;
    height: 40px;
    line-height: 40px;
    padding: 0 18px;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 18px;
  }

}


//Звёздный рейтинг
.star-rating{
  font-size: 0;
  &_wrap{
    display: inline-block;
    font-size: 1rem;
    &:after{
      content: "";
      display: table;
      clear: both;
    }
  }
  &_ico{
    float: right;
    padding-left: 2px;
    cursor: pointer;
    color: #FFB300;
    &:last-child{
      padding-left: 0;
    }
  }
  &_input{
    display: none;
  }
}
.star-rating_ico:hover:before,
.star-rating_ico:hover ~ .star-rating_ico:before,
.star-rating_input:checked ~ .star-rating_ico:before
{
  content: "\f005";
}

//Индикатор загрузки
.preloader{
  background: white;
  opacity: 50%;
  width: 100%;
  height: 100%;
  z-index: 9999;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


//Стили для мобильных устройств
@media(max-width:500px) {
  .main{
    height: 100%;
  }
  .header_block{
    font-size: 14px;
  }
  .menu_item{
    font-size: 14px;
    padding-left: 20px;
  }
  .catalog_card{
    width: 260px;
    display: flex;
    flex-direction: column;
    margin: 15px 15px;
    & img{
      width: 260px;
    }
    & a{
      width: 100%;
    }
    &_title{
      margin: 20px 10px 10px 10px;
      text-align: center;
    }
    &_button{
      margin: 0 15px 26px 15px;
    }
    &_price{
      margin: 0 0 34px 0;
      text-align: center;
    }
  }
  .router-view{
    width: 67%;
  }
  .modal-dialog{
    width: 462px;
  }
  .header_basket_content{
    width: 100%;
  }
  .modal_products_links{
    font-size: 13px;
  }
  .review img{
    width: 50px;
  }
  .modal_product_img{
    width: 100%;
  }
  .zero_page{
    & svg{
      width: 50px;
    }
    & span{
      font-size: 15px;
    }

  }
  .menu{
    height: 100vh;
  }
}