@import "./variables.scss";
@import "./_mixins.scss";
@import "./_fonts.scss";

body{
  color: $textColor;
  background-color: #F8F8F8;
}

.activeCategory{
  color: $redColor !important;
}

.main{
  display: flex;
  min-height: 100vh;
  &__menu{
    width: 100%;
    max-width: 325px;
    position: relative;
    z-index: 1;
    margin-top: 60px;
  }
}

.router-view{
  width: 67%;
}

.active{
  border-bottom: 4px solid $redColor;
  box-sizing: border-box;
}

//Стили для мобильных устройств
@media(max-width:500px) {
  .main{
    height: 100%;
  }
}
//Рефакторинг стилей бутстрапа
@media (min-width: 576px)  {
  .modal-dialog {
    margin: 0;
  }
}

